.navbar-container { 
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.main-content {
    position: relative;
    margin-top: 80px;
}

.navbar {
    background-color: #000041;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .left-side {
    display: flex; 
    flex-direction: row;
    width: 250px;
    margin-left: 70px;
    color: #FFFDFA;
    align-items: center;
    justify-content: center;
}

.grid-icon {
    font-size: 60px;
    align-items: center;
    display: flex;
    margin-left: -30px;
    margin-right: 10px;
    overflow: hidden;
}
.grid-icon img {
    width: 40px;
    height: 40px;
}

.search-bar {
    width: 350px;
}

.navbar-container .right-side {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 40px;
}

.right-side .sign-in {
    background-color: #000041; 
    color: #FFFDFA;
}
.right-side button { 
    background-color: #FC7A03;
    width: 100px;
    border: 1px solid #FFFDFA;
    border-radius: 5px;
    height: 35px;
    box-shadow: 5px 5px 0 #108CFF;
}

.side-menu-container {
    width: 415px;
    position: fixed;
    left: -415px;
    height: 100vh;
    background: #FC7A03;
    border-radius: 15px;
    z-index: 2;
    color: #000041;
}

.side-menu-background {
    width: 415px;
    position: fixed;
    left: -415px;
    height: 100vh;
    background: #FC7A03;
    border-radius: 15px;
    z-index: 2;
    top: 0;
}

.side-menu {
    width: 400px;
    height: 100vh;
    background: #FFFDFA;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    left: -400px;
    top: 0;
    color: #000041;
}

.top {
    padding-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 25px;
    color: #000041;
    font-weight: bold;
    position: absolute;
    top: 15px;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 50px;
}
.close-icon:hover {
    cursor: pointer;
}

.mid-top {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.mid-top .home-btn {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
}
.mid-top .home-btn:hover {
    cursor: pointer;
    color: #FC7A03;
    text-decoration: underline;
}
.mid-top .home-btn img {
    align-self:self-start;
}
.mid-top .home-btn h3 {
    margin-left: 8px;
}

.mid-top .info-btn {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.mid-top .info-btn:hover {
    cursor: pointer;
    color: #FC7A03;
    text-decoration: underline;
}
.mid-top .info-btn img {
    margin-left: 6px;
}
.mid-top .info-btn h3 {
    margin-left: 15px;
}

.mid-bottom {
    border-top: 1px solid silver;
    width: 80%;
    align-self: center;
}

.mid-bottom .support-btn {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.mid-bottom .support-btn:hover {
    cursor: pointer;
    color: #FC7A03;
    text-decoration: underline;
}
.mid-bottom .support-btn img {
    margin-left: 6px;
}
.mid-bottom .support-btn h3 {
    margin-left: 15px;
    align-self: top;
    font-size: 30px;
}

.mid-bottom .register-btn {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.mid-bottom .register-btn:hover {
    cursor: pointer;
    color: #FC7A03;
    text-decoration: underline;
}
.mid-bottom .register-btn img {
    margin-left: 6px;
}
.mid-bottom .register-btn h3 {
    margin-left: 15px;
    align-self: top;
    font-size: 30px;
}

.mid-bottom .sign-in-btn {
    border: 2px solid #000041;
    border-radius: 5px;
    width: fit-content;
    padding: 7px;
    margin: 15px 0 0 5px;
    font-weight: bold;
    box-shadow: 3px 3px 0px #108CFF;
}
.mid-bottom .sign-in-btn:hover {
    cursor: pointer;
    color: #FC7A03;
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.footer-socials .social {
    margin-left: -50px;
    margin-right: -50px;
    height: auto;
    width: auto;
}
.footer-socials .social:hover {
    cursor: pointer;
}