.page-3-container {
    background: linear-gradient(#6a99c548, #01016860);
    border-start-end-radius: 45%;
    border-end-end-radius: 45%;
    transform: translateX(-2000px);
    overflow: visible;
    height: 75%;
    
}

.body-container {
    margin-left: 10%;
}

p.font-semibold {
    overflow-y: hidden;
}

.video-3-container video {
    height: 100%;
    width: 100%;
}

.body-paragraph {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.body-paragraph span {
    margin: 10px 0;
}